<div class="w-50 mx-auto mt-5">
  <h4>Edit customer</h4>
  <form (ngSubmit)="clickToEdit();" [formGroup]="formEdit">
    <input type="hidden" class="form-control" formControlName="id"/>
    <div class="form-group">
      <label>name<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="name" placeholder="name"/>
      <span class="text-danger"
            *ngIf="formEdit.get('name').invalid && formEdit.get('name').touched">{{ name_msg }}</span>
    </div>
    <div class="form-group">
      <label>birthday<sup class="text-danger ml-1">*</sup></label><br>
      <mat-form-field class="w-100">
        <input matInput [matDatepicker]="myDatepicker" [max]="maxDate" [min]="minDate" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker startView="month"></mat-datepicker>
      </mat-form-field>
      <span class="text-danger"
            *ngIf="formEdit.get('birthday').invalid && formEdit.get('birthday').touched">{{ birthday_msg }}</span>
    </div>

    <div class="form-group">
      <label>idCard<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="idCard" placeholder="idCard"/>
      <span class="text-danger"
            *ngIf="formEdit.get('idCard').invalid && formEdit.get('idCard').touched">{{ idCard_msg }}</span>
    </div>
    <div class="form-group">
      <label>phone<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="phone" placeholder="phone"/>
      <span class="text-danger"
            *ngIf="formEdit.get('phone').invalid && formEdit.get('phone').touched">{{ phone_msg }}</span>
    </div>
    <div class="form-group">
      <label>email<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="email" placeholder="email"/>
      <span class="text-danger"
            *ngIf="formEdit.get('email').invalid && formEdit.get('email').touched">{{ email_msg }}</span>
    </div>
    <div class="form-group">
      <label>address<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="address" placeholder="address"/>
      <span class="text-danger"
            *ngIf="formEdit.get('address').invalid && formEdit.get('address').touched">{{ address_msg }}</span>
    </div>

    <div class="form-group">
      <label>customerType<sup class="text-danger ml-1">*</sup></label>
      <select class="form-control" formControlName="customerType">
        <option [ngValue]="formEdit.value.customerType">{{ formEdit.value.customerType.name }}</option>
        <option *ngFor="let type of customerTypeList" [ngValue]="type">{{ type.name }}</option>
      </select>
      <span class="text-danger"
            *ngIf="formEdit.get('customerType').invalid && formEdit.get('customerType').touched">{{ customerType_msg }}</span>
    </div>

    <div class="d-flex justify-content-center mb-5">
      <button class="btn btn-success btn-sm col-3" type="submit" [disabled]="formEdit.invalid">Update</button>
    </div>
  </form>
</div>

