<div class="container mt-3">
  <button class="btn btn-sm btn-secondary mr-3" (click)="displayListForm();">Service List</button>
  <button class="btn btn-sm btn-secondary" (click)="displayCreateForm();">Add new service</button>
</div>

<div class="container" *ngIf="showCreateForm">
  <h4>Service Information</h4>
  <input type="hidden" class="form-control" name="id" [(ngModel)]="service.id"/>
  <div class="form-group">
    <label>ServiceType</label>
    <select class="form-control" name="serviceType" [(ngModel)]="service.serviceType">
      <option value="Villa">Villa</option>
      <option value="House">House</option>
      <option value="Room">Room</option>
    </select>
  </div>
  <div class="form-group">
    <label>name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="service.name" [readOnly]="readonly"/>
  </div>

  <div class="form-group">
    <label>area</label>
    <input type="number" class="form-control" name="area" [(ngModel)]="service.area" [readOnly]="readonly"/>
  </div>
  <div class="form-group">
    <label>cost</label>
    <input type="number" class="form-control" name="cost" [(ngModel)]="service.cost" [readOnly]="readonly"/>
  </div>
  <div class="form-group">
    <label>maxPeople</label>
    <input type="number" class="form-control" name="maxPeople" [(ngModel)]="service.maxPeople" [readOnly]="readonly"/>
  </div>
  <div class="form-group">
    <label>rentType</label>
    <select class="form-control" name="rentType" [(ngModel)]="service.rentType">
      <option value="Hour">Hour</option>
      <option value="Day">Day</option>
      <option value="Month">Month</option>
      <option value="Year">Year</option>
    </select>
  </div>

  <div class="form-group">
    <label>standardRoom</label>
    <select class="form-control" name="standardRoom" [(ngModel)]="service.standardRoom">
      <option value="Vip">Vip</option>
      <option value="Business">Business</option>
      <option value="Normal">Normal</option>
    </select>
  </div>
  <div class="form-group">
    <label>numberOfFloors</label>
    <input type="text" class="form-control" name="numberOfFloors" [(ngModel)]="service.numberOfFloors" [readOnly]="readonly"/>
  </div>
  <div class="form-group">
    <label>otherConvenience</label>
    <input type="text" class="form-control" name="otherConvenience" [(ngModel)]="service.otherConvenience" [readOnly]="readonly"/>
  </div>
  <div class="form-group">
    <label>poolArea</label>
    <input type="text" class="form-control" name="poolArea" [(ngModel)]="service.poolArea" [readOnly]="readonly"/>
  </div>
  <div class="form-group">
    <label>freeService</label>
    <input type="text" class="form-control" name="freeService" [(ngModel)]="service.freeService" [readOnly]="readonly"/>
  </div>

  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary btn-sm col-5" [hidden]="hidden" (click)="displayListForm();">Cancel</button>
    <button class="btn btn-success btn-sm col-5" [hidden]="hidden" (click)="addNew();">Save</button>
  </div>
</div>
<hr class="mt-3 mb-3">
<div class="container-fluid" *ngIf="showListForm">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Area</th>
      <th>Cost</th>
      <th>MaxPeople</th>
      <th>ServiceType</th>
      <th>RentType</th>
      <th>StandardRoom</th>
      <th>NumberOfFloors</th>
      <th>OtherConvenience</th>
      <th>PoolArea</th>
      <th>FreeService</th>
      <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ele of eList">
      <td>{{ ele.id }}</td>
      <td>{{ ele.name }}</td>
      <td>{{ ele.area }}</td>
      <td>{{ ele.cost }}</td>
      <td>{{ ele.maxPeople }}</td>
      <td>{{ ele.serviceType }}</td>
      <td>{{ ele.rentType }}</td>
      <td>{{ ele.standardRoom }}</td>
      <td>{{ ele.numberOfFloors }}</td>
      <td>{{ ele.otherConvenience }}</td>
      <td>{{ ele.poolArea }}</td>
      <td>{{ ele.freeService }}</td>
      <td class="d-flex">
        <button class="btn btn-sm btn-outline-info mr-1"><i class="fas fa-info-circle" (click)="displayViewForm(ele.id)"></i></button>
        <button class="btn btn-sm btn-outline-warning mr-1"><i class="far fa-edit" (click)="updateOne(ele.id)"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger"><i class="fas fa-trash" (click)="deleteOne(ele.id)"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
