.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid navy;
  background-color: yellow;
}

.square {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  border: 1px solid navy;
  background-color: red;
}
