<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="common/layout :: head">
    <title>list</title>
</head>

<body>
<div class="container-fluid justify-content-center">
    <h2 style="color: red">403 Error: Access denied</h2>
    <button type="button" class="btn btn-outline-info btn-sm"><a th:href="@{/}">Back home</a></button>
</div>
<!--Footer-->
<div class="container-fluid">
    <footer class="fixed-bottom" th:insert="common/layout :: footer"></footer>
</div>
</body>
</html>