<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="common/layout :: head">
    <title>list</title>
</head>

<body style="background-image: url('/img/energy.jpg')">
<center>
    <h3 class="mt-5" style="color: yellow;">FURAMA RESORT MANAGEMENT</h3>
    <hr class="my-5" width="97%">
    <div class="align-content-center d-flex justify-content-center">
        <form th:action="@{/login}" method="post"
              style="border: 1px solid lightgray; width: 20%; height: 250px; color: yellow; padding: 5px">
            <fieldset>
                <!-- <input type="hidden" name="action" value="login">-->
                <div class="form-group">
                    <label for="username" class="font-weight-bold">Username</label><br>
                    <input type="text" id="username" th:name="username" placeholder="username">
                </div>

                <div class="form-group">
                    <label for="password" class="font-weight-bold">Password</label><br>
                    <input type="password" id="password" th:name="password" placeholder="password"><br><br>
                    <input type="checkbox" id="remember-me" name="remember-me"> Remember me?
                </div>

                <div>
                    <button class="btn btn-warning btn-sm" type="submit">Login</button>
                </div>
                <div th:if="${param.error}" class="alert alert-warning">Invalid username or password</div>
                <div th:if="${param.logout}" class="alert alert-success">You have been logout</div>

            </fieldset>
        </form>
    </div>
</center>
<!-- End body -->

<!--Footer-->
<div class="container-fluid">
    <footer class="fixed-bottom" th:insert="common/layout :: footer"></footer>
</div>
</body>
</html>