<div class="w-50 mx-auto mt-5">
  <h4>Edit Employee</h4>
  <form (ngSubmit)="clickToEdit();" [formGroup]="formEdit">
    <input type="hidden" class="form-control" formControlName="id"/>
    <div class="form-group">
      <label>name<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="name"/>
      <span class="text-danger"
            *ngIf="formEdit.get('name').invalid && formEdit.get('name').touched">{{ name_msg }}</span>
    </div>
    <div class="form-group">
      <label>birthday<sup class="text-danger ml-1">*</sup></label><br>
      <mat-form-field class="w-100">
        <input matInput [matDatepicker]="myDatepicker2" [max]="maxDate" [min]="minDate" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker2 startView="month"></mat-datepicker>
      </mat-form-field>
      <span class="text-danger"
            *ngIf="formEdit.get('birthday').invalid && formEdit.get('birthday').touched">{{ birthday_msg }}</span>
    </div>

    <div class="form-group">
      <label>idCard<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="idCard"/>
      <span class="text-danger"
            *ngIf="formEdit.get('idCard').invalid && formEdit.get('idCard').touched">{{ idCard_msg }}</span>
    </div>
    <div class="form-group">
      <label>phone<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="phone"/>
      <span class="text-danger"
            *ngIf="formEdit.get('phone').invalid && formEdit.get('phone').touched">{{ phone_msg }}</span>
    </div>
    <div class="form-group">
      <label>email<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="email"/>
      <span class="text-danger"
            *ngIf="formEdit.get('email').invalid && formEdit.get('email').touched">{{ email_msg }}</span>
    </div>
    <div class="form-group">
      <label>address<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="address"/>
      <span class="text-danger"
            *ngIf="formEdit.get('address').invalid && formEdit.get('address').touched">{{ address_msg }}</span>
    </div>
    <div class="form-group">
      <label>salary<sup class="text-danger ml-1">*</sup></label>
      <input type="text" class="form-control" formControlName="salary"/>
      <span class="text-danger"
            *ngIf="formEdit.get('salary').invalid && formEdit.get('salary').touched">{{ salary_msg }}</span>
    </div>

    <div class="form-group">
      <label>position<sup class="text-danger ml-1">*</sup></label>
      <select class="form-control" formControlName="position">
        <option [ngValue]="formEdit.value.position">{{ formEdit.value.position.name }}</option>
        <option *ngFor="let type1 of positionList" [ngValue]="type1">{{ type1.name }}</option>
      </select>
      <span class="text-danger"
            *ngIf="formEdit.get('position').invalid && formEdit.get('position').touched">{{ position_msg }}</span>
    </div>

    <div class="form-group">
      <label>division<sup class="text-danger ml-1">*</sup></label>
      <select class="form-control" formControlName="division">
        <option [ngValue]="formEdit.value.division">{{ formEdit.value.division.name }}</option>
        <option *ngFor="let type2 of divisionList" [ngValue]="type2">{{ type2.name }}</option>
      </select>
      <span class="text-danger"
            *ngIf="formEdit.get('division').invalid && formEdit.get('division').touched">{{ division_msg }}</span>
    </div>

    <div class="form-group">
      <label>education<sup class="text-danger ml-1">*</sup></label>
      <select class="form-control" formControlName="education">
        <option [ngValue]="formEdit.value.education">{{ formEdit.value.education.name }}</option>
        <option *ngFor="let type3 of educationList" [ngValue]="type3">{{ type3.name }}</option>
      </select>
      <span class="text-danger"
            *ngIf="formEdit.get('education').invalid && formEdit.get('education').touched">{{ education_msg }}</span>
    </div>

    <div class="d-flex justify-content-center mb-5">
      <button class="btn btn-success btn-sm w-25" type="submit" [disabled]="formEdit.invalid">Update</button>
    </div>
  </form>
</div>

