<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web layout</title>
    <link rel="stylesheet" type="text/css" href="layout_css.css">
</head>
<body>
<div id="main">
    <div id="header">
        <div id="logo">Logo</div>
        <div id="banner">Banner</div>
    </div>
    <div id="head-link">
        <h5>Links of page</h5>
    </div>
    <div id="left">
        <h5>Left side</h5>
    </div>
    <div id="content">
        <h5>Main Content here...</h5>
    </div>
    <div id="right">
        <h5>Right side</h5>
    </div>
    <div id="footer">
        <h5>Copyright@2020 Hoang Kim Van Chuong</h5>
    </div>
</div>
</body>
</html>