<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>my cart</title>
</head>
<body>
<h3>My Cart</h3>
<a href="/product">Back to product list</a>
<form name="update-form" th:action="@{/cart/update}">
<table>
    <p>Total Item: <span th:text="${session.myCartNumber}"></span></p>
    <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    <tr th:each="entry : ${session.myCartItems}">
<!--        <form name="update-form" th:action="@{/cart/update/{productId}(productId = ${entry.key}) }" th:object="${editItem}">-->

            <input type="hidden" name="ids" th:value="${entry.key}">
            <td th:text="${entry.value.product.name}"></td>
            <td th:text="${entry.value.product.price}"></td>
            <td><input type="text" th:name="quantity" th:value="${entry.value.quantity}"/></td>
            <td>
                <button type="submit">Update</button>
            </td>
            <td>
                <button type="button"><a th:href="@{/cart/delete/{productId}(productId = ${entry.key})}">Delete</a>
                </button>
            </td>

        </form>
    </tr>

    <tr>
        <th>Total Amount:</th>
        <th th:text="${session.myCartTotalAmount}"></th>
    </tr>
</table>
<input type="submit" value="Update Cart">
</form>

</body>
</html>