<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/layout :: head">
    <title>list</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Customer</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <!--<a class="nav-link" th:href="@{/customer/create}">Create new</a>-->
                <div class="container">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createModal">
                        <span>Create new</span>
                    </button>

                    <!-- The Modal Create-->
                    <div class="modal fade" id="createModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Register Customer</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form id="createForm" th:action="@{/customer/create}" method="post"
                                          th:object="${customer}">
                                        <input th:type="hidden" name="id" th:field="*{customerId}">
                                        <table class="table-hover w-auto">
                                            <tr>
                                                <td><b>Name</b></td>
                                                <td>
                                                    <input type="text" th:field="*{customerName}" required/>
                                                    <span class="required">&nbsp;(*)</span><br><span
                                                        class="message"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Birthday</b></td>
                                                <td>
                                                    <input type="date" th:field="*{customerBirthday}" required/>
                                                    <span class="required">&nbsp;(*)</span><br><span
                                                        class="message"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Gender</b></td>
                                                <td>
                                                    <input type="radio" th:field="*{customerGender}" th:value="male"
                                                           checked/><span>&nbsp;Male&nbsp;&nbsp;</span>
                                                    <input type="radio" th:field="*{customerGender}" th:value="female"/><span>&nbsp;Female&nbsp;&nbsp;</span>
                                                    <input type="radio" th:field="*{customerGender}"
                                                           th:value="other"/><span>&nbsp;Other&nbsp;&nbsp;</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>IdCard</b></td>
                                                <td>
                                                    <input type="text" th:field="*{customerIdCard}" required/>
                                                    <span class="required">&nbsp;(*)</span><br><span
                                                        class="message"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Phone</b></td>
                                                <td>
                                                    <input type="text" th:field="*{customerPhone}" required/>
                                                    <span class="required">&nbsp;(*)</span><br><span
                                                        class="message"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Email</b></td>
                                                <td>
                                                    <input type="text" th:field="*{customerEmail}" required/>
                                                    <span class="required">&nbsp;(*)</span><br><span
                                                        class="message"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Address</b></td>
                                                <td>
                                                    <input type="text" th:field="*{customerAddress}" required/>
                                                    <span class="required">&nbsp;(*)</span><br><span
                                                        class="message"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>CustomerType</b></td>
                                                <td>
                                                    <select th:field="*{customerType}">
                                                        <option th:each="type : ${customerTypeList}"
                                                                th:value="${type.customerTypeId}"
                                                                th:text="${type.customerTypeName}">
                                                        </option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Status</b></td>
                                                <td>
                                                    <input type="text" th:field="*{status}" required/>
                                                    <span class="required">&nbsp;(*)</span><br><span
                                                        class="message"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success btn-sm"
                                            onclick="document.getElementById('createForm').submit()">Save
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Modal create-->

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Back home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer}">Back to list</a>
            </li>
        </ul>

        <form class="form-inline" id="searchForm" th:action="@{/customer}" method="get">
            <div class="input-group">
                <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: #d6d8db !important;">
                            <select style="background-color: #d6d8db; border: none" th:name="typeId"
                                    th:object="${typeSelected}"
                                    onchange="document.getElementById('searchForm').submit();">
                                <option th:value="${'0'}">ALL</option>
                                <option th:if="${typeSelected != null}"
                                        th:value="${typeSelected.customerTypeId}"
                                        th:text="${typeSelected.customerTypeName}" selected>
                                </option>
                                <option th:each="type : ${customerTypeList}"
                                        th:value="${type.customerTypeId}"
                                        th:text="${type.customerTypeName}">
                                </option>
                            </select>
                        </span>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: #d6d8db !important;"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" th:name="search" th:value="${search}"
                       placeholder="search here..." onchange="document.getElementById('searchForm').submit();">
            </div>
        </form>
    </nav>
</div>

<!--SHOW LIST-->
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>IdCard</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Customer Type</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>ON/OFF</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="cus, cusStat : ${eList}">
            <tr th:if="${cus.status == 'available'}">
                <td th:text="${cusStat.index + 1}"></td>
                <td th:text="${cus.customerName}"></td>
                <td th:text="${cus.customerBirthday}"></td>
                <td th:text="${cus.customerGender}"></td>
                <td th:text="${cus.customerIdCard}"></td>
                <td th:text="${cus.customerPhone}"></td>
                <td th:text="${cus.customerEmail}"></td>
                <td th:text="${cus.customerAddress}"></td>
                <td th:if="${cus.customerType != null}" th:text="${cus.customerType.customerTypeName}"></td>
                <td th:if="${cus.customerType == null}" th:text="${'N/A'}"></td>
                <td th:text="${cus.status}"></td>

                <td>
                    <!--<a th:href="@{/customer/edit/{id} (id=${customer.customerId})}">Edit</a>-->
                    <!--Edit by Modal-->
                    <div class="container">
                        <!-- Button to Open the Modal -->
                        <button id="editModalButton" type="button" class="btn btn-primary btn-sm"
                                data-toggle="modal" th:attr="data-target='#edit'+ ${cus.customerId}">
                            <span>Edit</span>
                        </button>
                        <!-- The Modal Edit-->
                        <div class="modal fade" th:id="'edit'+ ${cus.customerId}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Update Information</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                            <form th:id="'editForm'+ ${cus.customerId}" th:action="@{/customer/edit}" method="post" th:object="${customer}">
                                            <table class="table table-hover table-sm table-bordered w-auto">
                                                <tr>
                                                    <td><b>ID</b></td>
                                                    <td>
                                                        <input type="text" th:value="${cus.customerId}" th:name="customerId">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>Name</b></td>
                                                    <td>
                                                        <input type="text" th:value="${cus.customerName}" th:name="customerName" required/>
                                                        <span class="required">&nbsp;(*)</span><br><span class="message"></span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>Birthday</b></td>
                                                    <td>
                                                        <input type="date" th:value="${cus.customerBirthday}" th:name="customerBirthday" required/>
                                                        <span class="required">&nbsp;(*)</span><br><span class="message"></span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>Gender</b></td>
                                                    <td>
                                                        <input type="radio" th:name="customerGender" th:value="male"/><span>&nbsp;Male&nbsp;&nbsp;</span>
                                                        <input type="radio" th:name="customerGender" th:value="female"/><span>&nbsp;Female&nbsp;&nbsp;</span>
                                                        <input type="radio" th:name="customerGender" th:value="other"/><span>&nbsp;Other&nbsp;&nbsp;</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>IdCard</b></td>
                                                    <td>
                                                        <input type="text" th:value="${cus.customerIdCard}" th:name="customerIdCard" required/>
                                                        <span class="required">&nbsp;(*)</span><br><span class="message"></span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>Phone</b></td>
                                                    <td>
                                                        <input type="text" th:value="${cus.customerPhone}" th:name="customerPhone" required/>
                                                        <span class="required">&nbsp;(*)</span><br><span class="message"></span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>Email</b></td>
                                                    <td>
                                                        <input type="text" th:value="${cus.customerEmail}" th:name="customerEmail" required/>
                                                        <span class="required">&nbsp;(*)</span><br><span class="message"></span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>Address</b></td>
                                                    <td>
                                                        <input type="text" th:value="${cus.customerAddress}" th:name="customerAddress" required/>
                                                        <span class="required">&nbsp;(*)</span><br><span class="message"></span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><b>CustomerType</b></td>
                                                    <td>
                                                        <select th:name="customerType">
                                                            <option th:each="type : ${customerTypeList}"
                                                                    th:value="${type.customerTypeId}"
                                                                    th:text="${type.customerTypeName}">
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Status</b></td>
                                                    <td><input type="text" th:name="status" th:value="${cus.status}"></td>
                                                    <span class="required">&nbsp;(*)</span><br><span class="message"></span>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success btn-sm"
                                                th:onclick="|getEdit('${cus.customerId}')|">Update
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Modal Edit-->
                </td>

                <td>
                    <!--<a th:href="@{/customer/delete/{id} (id=${cus.customerId})}">Delete</a>-->
                    <!--Delete on Modal-->
                    <div class="container">
                        <!-- Button to Open the Modal -->
                        <button id="deleteModalButton" type="button" class="btn btn-primary btn-sm"
                                data-toggle="modal"
                                th:data-target="'#del'+ ${cus.customerId}">
                            <span>Delete</span>
                        </button>
                        <!-- The Modal Delete-->
                        <div class="modal fade"  th:id="'del' + ${cus.customerId}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color: red">Do you really want to delete?</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form th:id="'deleteForm'+${cus.customerId}" th:action="@{/customer/delete (id=${cus.customerId})}" method="post">
                                            <!--No need of ID input hidden here...-->
                                            <table class="table table-hover table-sm table-bordered w-auto">
                                                <tr>
                                                    <td><b>ID</b></td>
                                                    <td th:text="${cus.customerId}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>Name</b></td>
                                                    <td th:text="${cus.customerName}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>Birthday</b></td>
                                                    <td th:text="${cus.customerBirthday}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>Gender</b></td>
                                                    <td th:text="${cus.customerGender}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>IdCard</b></td>
                                                    <td th:text="${cus.customerIdCard}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>Phone</b></td>
                                                    <td th:text="${cus.customerPhone}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>Email</b></td>
                                                    <td th:text="${cus.customerEmail}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>Address</b></td>
                                                    <td th:text="${cus.customerAddress}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>CustomerType</b></td>
                                                    <td th:if="${cus.customerType != null}" th:text="${cus.customerType.customerTypeName}"></td>
                                                    <td th:if="${cus.customerType == null}" th:text="${'N/A'}"></td>
                                                </tr>

                                                <tr>
                                                    <td><b>Status</b></td>
                                                    <td th:text="${cus.status}"></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success btn-sm"
                                                th:onclick="|getDelete('${cus.customerId}')|">Delete
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Modal Delete-->
                </td>
                <td>
                    <a class="material-icons" href="#deleteModal" data-toggle="modal"><i class="material-icons delete"
                                                                                         th:data-id="${cus.customerId}">Disable</i></a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div style="color: blue" th:if="${msg}">
        <span th:text="${msg}"></span>
    </div>
    <!--  Paging and Sorting -->
    <div>
        <br>
        <a th:href="@{'/customer'(page=${eList.number - 1}, search=${search}, typeId=${typeId})}"
           th:if="${eList.hasPrevious()}"><i
                class="fas fa-arrow-circle-left"></i></a>
        <span th:text="${eList.number + 1}"></span>/<span th:text="${eList.totalPages}"></span>
        <a th:href="@{'/customer'(page=${eList.number + 1}, search=${search}, typeId=${typeId})}"
           th:if="${eList.hasNext()}"><i
                class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>

<!--Footer-->
<div class="container-fluid">
    <footer class="fixed-bottom" th:insert="common/layout :: footer"></footer>
</div>
<!--...............................................................................................-->

<!-- Delete Modal calling -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="deleteForm" th:action="@{/customer/setStatus}" method="post">
                <div class="modal-header" style="background: dimgrey">
                    <h5 class="modal-title" style="color:#e9e9e9">Confirm to delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="customerId">
                    <p style="color: red">Agree to delete permanently?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Disable/Available -->
<script>
    $(".delete").click(function () {
        $("input[name='customerId']").val($(this).data("id"));
    });
</script>

<!--functions Edit/Delete on modal-->
<script>
    function getEdit(id){
        document.getElementById('editForm' + id).submit();
    }
    function getDelete(id){
        document.getElementById('deleteForm' + id).submit();
    }
</script>
</body>
</html>