<h4>Detail Information</h4>
<hr class="mt-2 mb-2">
<div class="row d-flex justify-content-start">
  <div class="ml-3">
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>name: {{ ele.name }}</p>
    <p><span><i
      class="fas fa-hand-point-right mr-2 text-primary"></i></span>area: {{ ele.area }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>cost: {{ ele.cost }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>maxPeople: {{ ele.maxPeople }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>serviceType: {{ ele.serviceType.name }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>rentType: {{ ele.rentType.name }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>standardRoom: {{ ele.standardRoom }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>numberOfFloors: {{ ele.numberOfFloors }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>otherConvenience: {{ ele.otherConvenience }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>poolArea: {{ ele.poolArea }}</p>
    <p><span><i class="fas fa-hand-point-right mr-2 text-primary"></i></span>freeService: {{ ele.freeService }}</p>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <button mat-dialog-close class="btn btn-primary btn-sm mr-3 w-25">OK</button>
</div>

