<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="common/layout :: head">
    <title>list</title>
</head>
<body>
<div th:replace="~{home/index :: furama-bar}"></div>
<div class="container-fluid mt-3">
    <nav class="navbar navbar-expand-sm bg-light navbar-light d-flex justify-content-between">
        <div class="d-flex">
            <!-- Brand -->
            <button type="button" class="btn"><span class="navbar-brand">Contact List</span></button>

            <!-- Links and Search -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact/create}">
                        <button class="btn btn-primary">Create new</button>
                    </a>
                </li>
            </ul>

            <form class="form-inline" id="searchForm" th:action="@{/contact}" method="get">
                <div class="form-group mr-2">
                    <select class="form-control" style="background-color: #007bff; color: #fff"
                            th:name="typeId" th:object="${typeSelected}"
                            onchange="document.getElementById('searchForm').submit();">
                        <option th:value="${'0'}">Sort by</option>
                        <option th:if="${typeSelected != null}"
                                th:value="${typeSelected.groupId}"
                                th:text="${typeSelected.groupName}" selected>
                        </option>
                        <option th:each="type : ${groupList}"
                                th:value="${type.groupId}"
                                th:text="${type.groupName}">
                        </option>
                    </select>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-control" th:name="propSelected" style="background-color: #d6d8db !important; border-radius: 0 !important;">
                                onchange="document.getElementById('searchForm').submit();">
                            <option th:value="${''}">Search by</option>
                            <option th:value="name" th:text="Name"></option>
                            <option th:value="birthday" th:text="Birthday"></option>
                            <option th:value="address" th:text="Address"></option>
                            <option th:if="${propSelected != ''}" th:value="${propSelected}" th:text="${propSelected}" selected></option>
                        </select>
                    </div>
                    <input type="text" class="form-control" th:name="search" th:value="${search}"
                           placeholder="search here..." onchange="document.getElementById('searchForm').submit();">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="background-color: #d6d8db !important;"><i
                                class="fas fa-search"></i></span>
                    </div>
                </div>
            </form>
        </div>

        <!--  Button Delete Many  -->
        <div>
            <button id="deleteManyButton" type="button"
                    class="btn btn-danger mr-1" style="display: none">
                <a class="material-icons" href="#deleteManyModal" data-toggle="modal">
                    <i class="material-icons deleteMany" style="color: white !important;">Delete Selected</i>
                </a>
            </button>
        </div>

    </nav>
</div>

<!--SHOW LIST-->
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Group</th>

            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
            <th>
                <button id="selectAll" class="btn btn-primary btn-sm" onclick="selectAllCheckBoxes()">Select All
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="ele, elStat : ${eList}">
            <tr>
                <td th:text="${elStat.index + 1}"></td>
                <td th:text="${ele.name}"></td>
                <td th:text="${ele.birthday}"></td>
                <td th:text="${ele.gender}"></td>
                <td th:text="${ele.phone}"></td>
                <td th:text="${ele.email}"></td>
                <td th:text="${ele.address}"></td>
                <td th:if="${ele.contactGroup != null}" th:text="${ele.contactGroup.groupName}"></td>
                <td th:if="${ele.contactGroup == null}" th:text="${'N/A'}"></td>

                <td>
                    <a th:href="@{/contact/edit/{id} (id=${ele.contactId})}">Edit</a>
                </td>

                <td>
                    <a th:href="@{/contact/view/{id} (id=${ele.contactId})}">View</a>
                </td>

                <td>
                    <a class="material-icons" href="#deleteOneModal" data-toggle="modal">
                        <i class="material-icons deleteOne" th:data-id="${ele.contactId}">Delete</i></a>
                </td>

                <td>
                    <input type="checkbox" class="check-box" id="checkbox" th:name="contactId"
                           th:value="${ele.contactId}"
                           onclick="hideAndShowBtn()">
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <!--  Message successfully  -->
    <div class="d-flex justify-content-between">
        <div style="color: blue;">
            <span th:if="${msg}" th:text="${msg}"></span>
            <span>&nbsp;</span>
        </div>

        <!--  Paging and Sorting -->
        <div>
            <a th:href="@{'/contact'(page=${eList.number - 1}, search=${search}, typeId=${typeId})}"
               th:if="${eList.hasPrevious()}"><i
                    class="fas fa-arrow-circle-left"></i></a>
            <span th:text="${eList.number + 1}"></span>/<span th:text="${eList.totalPages}"></span>
            <a th:href="@{'/contact'(page=${eList.number + 1}, search=${search}, typeId=${typeId})}"
               th:if="${eList.hasNext()}"><i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<!--Footer-->
<div class="container-fluid">
    <footer class="fixed-bottom" th:insert="common/layout :: footer"></footer>
</div>
<!--........................................ FOOTER ends ................................................-->

<!-- Delete-One Modal calling -->
<div id="deleteOneModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="deleteOneForm" th:action="@{/contact/delete}" method="post">
                <div class="modal-header" style="background: dimgrey">
                    <h5 class="modal-title" style="color:#e9e9e9">Confirm to delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="contactId">
                    <p style="color: red">Agree to permanently delete?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete-Many Modal calling -->
<div id="deleteManyModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="deleteManyForm" th:action="@{/contact/setStatus}" method="post">
                <div class="modal-header" style="background: dimgrey">
                    <h5 class="modal-title" style="color:#e9e9e9">Confirm to delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="pass-value" th:each="cont : ${eList}" name="contactId">
                    <p style="color: red">Agree to permanently delete?</p>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- JavaScript here...-->
<!-- Delete-One -->
<script>
    $(".deleteOne").click(function () {
        $("input[name='contactId']").val($(this).data("id"));
    });
</script>

<!--Select all-->
<script>
    function selectAllCheckBoxes() {
        let deleteManyButton = document.getElementById('deleteManyButton');
        let selectAll = document.getElementById('selectAll');
        let checkboxes = document.getElementsByName('contactId');
        for (checkbox of checkboxes) {
            if (selectAll.innerHTML == 'Select All') {
                checkbox.checked = true;
            } else {
                checkbox.checked = false;
            }
        }

        if (selectAll.innerHTML == 'Select All') {
            selectAll.innerHTML = 'Uncheck';
            showDeleteManyBtn();
        } else {
            selectAll.innerHTML = 'Select All';
            hideDeleteManyBtn();
        }
    }
</script>

<!--Calling delete many button-->
<script>
    $('#deleteManyButton').on('click', function () {
        $('input[type="checkbox"]').each(function () {
            if ($(this).prop('checked') !== true)
                $(this).val(-1);
        });
        passValuesFromCheckboxesToModal();
    })
</script>

<!-- Pass values from checkboxes to delete-many modal -->
<script>
    function passValuesFromCheckboxesToModal() {
        let checkboxes = document.getElementsByClassName('check-box');
        let passValues = document.getElementsByClassName('pass-value');
        for (let i = 0; i < checkboxes.length; i++) {
            passValues[i].value = checkboxes[i].value;
        }
    }

    function hideAndShowBtn() {
        let checkboxes = document.getElementsByClassName('check-box');
        let isChecked = false;
        for (checkbox of checkboxes) {
            if (checkbox.checked == true) {
                showDeleteManyBtn();
                isChecked = true;
                break;
            }
        }
        if (!isChecked) {
            hideDeleteManyBtn();
        }
    }
</script>

<!-- Set Delete-Many button hide/show -->
<script>
    let deleteManyBtn = document.getElementById('deleteManyButton');

    function hideDeleteManyBtn() {
        deleteManyBtn.style.display = 'none';
    }

    function showDeleteManyBtn() {
        deleteManyBtn.style.display = 'inline-block';
    }
</script>
</body>
</html>